.scatterplot-container {
  padding: 1.5em;
  background: white;
  font-size: 16px;
}

.scatterplot {
  margin-top: 1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}
